/* Import Iosevka */
@import url("https://cdn.jsdelivr.net/npm/@fontsource/iosevka@5.0.0/index.css");

:root {
  /* Monochrome palette */
  --text: #444;
  --text-h: #000;
  --bg: #ffffff;
  --border: #e6e6e6;
  --code-bg: #f5f5f5;

  --accent: #000;
  --accent-bg: #f2f2f2;
  --accent-border: #000;

  --shadow:
    rgba(0, 0, 0, 0.08) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.04) 0 4px 6px -2px;

  /* Fonts */
  --sans: "Iosevka", system-ui, sans-serif;
  --heading: "Iosevka", system-ui, sans-serif;
  --mono: "Iosevka", ui-monospace, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.15px;

  color: var(--text);
  background: var(--bg);
  --clr-green: #1d9e75;
  --clr-green-bg: rgba(29, 158, 117, 0.12);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar */
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

/* Remove dark theme */
body {
  margin: 0;
  background: var(--bg);
}

#root {
  max-width: 100%;
  margin: 0 auto;

  border-inline: 1px solid var(--border);
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  text-align: left;
  padding: 40px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 52px;
  letter-spacing: -1.5px;
  margin: 32px 0;
}

h2 {
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 10px;
}

p {
  margin: 0;
  color: var(--text);
}

/* Code styling */
code {
  font-family: var(--mono);
  font-size: 14px;

  padding: 4px 8px;
  border-radius: 4px;

  background: var(--code-bg);
  color: var(--text-h);
}

/* Links */
a {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-border);
}

a:hover {
  background: var(--accent-bg);
}

/* Responsive */
@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  #root {
    padding: 24px;
  }
}
